<div>
    <p>Hii <%= token.user.name %>! </p>
    <br>
    <br>
    <h3>To reset your Password, Click on the link below</h3>
    <p><strong><a href="http://localhost:3000/user/reset_password/?token=<%= token.accessToken %> ">Reset Password</a></strong></p>
</div>