<footer>
    <p><span>&copy;</span> Coding Ninjas</p>
    <ul>
        <li><a href="/">Home</a></li>
        <% if(locals.user){ %> 
            <li><a href="/user/profile/<%= locals.user.id %>">Profile</a></li>
        <% } %>
    </ul>
</footer>