<form action="/user/forgot_password" method="post">
    <div>
        <label for="email">Confirm your EmailId</label>
        <input type="email" id="email" name="email" placeholder="abc@gmail.com" required>
    </div>
    <input type="submit" value="Verify">

</form>