<form action="/user/reset_password/?token=<%= token.id %> " method="post">
    <div>
        <label for="newPassword">New Password</label>
        <input type="password" name="newPassword" id="newPassword" required>
    </div>
    <div>
        <label for="confirm">New Password</label>
        <input type="password" name="confirmPassword" id="confirm" required>
    </div>
    <input type="submit" value="Set New Password">
</form>